<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ritech.quizkarlo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ForgetPasswordActivity"
            android:exported="false"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".BookMarksActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OnbordingScreen.IntroActivity"
            android:theme="@style/Theme.Intro" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".AnswersActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScoreActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StartTestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".QuestionsActivity" />
        <activity
            android:name=".Login.LoginActivity"
            android:theme="@style/LoginTheme" />
        <activity android:name=".Login.SignUpActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>